<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Atlas &mdash; A modern front-end framework</title>
    {% include "snippets/_favicons.html" %}
    <link href="{{ path }}css/styles.css" rel="stylesheet">
    <script src="{{ path }}js/libs/modernizr-custom.js" rel="javascript"></script>
    {% include "snippets/_ie-conditionals.html" %}
    {% include "snippets/_domloadscript.html" %}
</head>
<body>
    <!-- inject:svg --><!-- endinject -->

    {% include "partials/_skip-to-content.html" %}
    {% include "partials/_header.html" %}

    <main id="main">
  	     {% block content %}{% endblock %}
    </main>

  	{% include "partials/_footer.html" %}
</body>
</html>
