<script>
    document.addEventListener("DOMContentLoaded", theDomHasLoaded, false);
    
    function theDomHasLoaded(e) {
        [
            // The default scripts loaded on the page
            '{{ path }}js/libs/jquery.min.js',
            '{{ path }}js/app.min.js',
            // add any further scripts to defer here
        ].forEach(function(src) {
            var script = document.createElement('script');
            script.src = src;
            script.async = false;
            document.head.appendChild(script);
        });
    }
</script>